similarity.pkl
similarity
# Compiled Python files
*.pyc
__pycache__/

# Python environment
venv/
.venv/
env/
.env/
pip-log.txt
pip-delete-this-directory.txt

# Package dependencies
*.egg-info/
dist/
build/
*.egg

# System or IDE files

.DS_Store
.vscode/
.idea/
*.sublime-workspace
*.pydevproject

# Other
*.bak
*.swp
*.swo
*~

# Ignoring Node Modules
frontend/node_modules